<form ng-submit="entry.onAdd()">
  <md-input-container>
    <label>Tweet</label>
    <input type="text" ng-model="entry.messageText" size="30" placeholder="add new message"/>
  </md-input-container>
  <md-button type="submit" value="submit">Submit</md-button>
</form>

<!--
<form ng-submit="entry.onAdd()">
  <label>Tweet</label>
  <input class="nd-input" type="text" ng-model="entry.messageText" size="30" placeholder="add new message">
  <input class="btn btn-primary btn-sm" type="submit" value="submit">
</form> 
-->