md-content {
  height: 600px;
  max-width:  800px;
  padding-bottom: 0px;
}

.md-subheader {
  background: skyblue;
  width: 100%;
}

.md-button.delete {
  border-radius: 10px;
  background: #FF3333;
  color : #DDD;
}
  